mixin social(links)
  ul.links
    - var lis = _(links).map(function (l) { return '<li><a href="' + l.url + '" target="_blank">' + l.name + '</a></li>' });
    != lis.join('')

mixin person-li(name, data)
  li: a(href='/#/team/#{data.id}' target='_blank' data-slide-to="index-team:slides team:#{data.id}" data-scroll='#team')= name

mixin person(name, data, active)
  - var label = name.split(' ')[0];
  .person.slider-item(data-slide=data.id data-label=label class=(active ? 'active' : '') style=(!active ? 'display: none;' : ''))
    .row.section-body
      .col-sm-5.hidden-xs
        img.photo(alt=name src='/assets/images/#{data.id}.jpg' width='155' height='155')
        .sm-m4t.md-m5t: +social(data.links)
      .col-xs-12.col-sm-7
        .team-member.p2b.sm-p0b
          img.photo.visible-xs(alt='Lars' src='/assets/images/#{data.id}.jpg' width='50' height='50')
          h1.section-headline= name
          p= data.position
        hr.sm-m1t.sm-m2b.md-m3t.md-m4b
        .p3.sm-p0!= marked(data.bio)

    .visible-xs: +social(data.links)

