mixin social(links)
  ul.links
    for link, i in links
      if i !== 0
        li.separator
      li: a(href=link.url target='_blank')= link.name

mixin person-li(name, data)
  li: a(href=data.links[0].url target='_blank' data-slider='team' data-slide-to=data.id)= name

mixin person(name, data, active)
  - var label = name.split(' ')[0];
  .person.slider-item(data-slide=data.id data-label=label class=(active ? 'active' : '') style=(!active ? 'display: none;' : ''))
    .row.section-body
      .col-sm-5.hidden-xs
        img.photo(alt=name src='/assets/images/lars.jpg' width='155' height='155')
        .vm-4-t: +social(data.links)
      .col-xs-12.col-sm-7
        .team-member.vp-2.vp-0-sm-t
          img.photo.visible-xs(alt='Lars' src='/assets/images/lars.jpg' width='50' height='50')
          h1.section-headline= name
          p= data.position
        hr
        .vm-4-t.vm-3-sm-t!= marked(data.bio)

    .vm-4-t.visible-xs: +social(data.links)

