mixin project-li(data)
  - var slide = data.name.toLowerCase().replace(/[^a-z]/g, '-');
  li: a(href=data.url target='_blank' data-slide-to="index-projects:slides projects:#{slide}" data-scroll='#projects')= data.name


mixin project(data, active)
  - var slide = data.name.toLowerCase().replace(/[^a-z]/g, '-');
  .project.slider-item(data-slide=slide class=(active ? 'active' : '') style=(!active ? 'display: none;' : ''))
    .row.section-body
      .col-sm-5.hidden-xs
        .project-image-wrapper.vp-2-b
          img.project-image(alt='Crowdcurity' src='/assets/images/cc.png')

      .col-xs-12.col-sm-7
        .vm-6-t.vm-2-b.visible-xs
          img.project-image(alt='Crowdcurity' src='/assets/images/cc.png')

        .openable
          hr.visible-xs
          .row.vp-2.vp-0-sm-t.vp-1-sm-b
            .col-xs-7.col-sm-12
              h1.section-headline= data.name
            .col-xs-5.visible-xs.togglers
              a.plus.ttr(href='#'): span.icon.icon-plus
              a.minus.ttr(href='#'): span.icon.icon-minus
          hr.when-opened
          .vm-2.when-opened
            != marked(data.description)

        .openable
          hr.visible-xs
          .row.vp-2.vp-0-sm-t.vp-1-sm-b
            .col-xs-7.col-sm-12
              h1.section-headline Credits
            .col-xs-5.visible-xs.togglers
              a.plus.ttr(href='#'): span.icon.icon-plus
              a.minus.ttr(href='#'): span.icon.icon-minus
          hr.when-opened
          .vm-2.vm-0-sm-b.vp-5-sm-b.when-opened
            ul.credits
              for tasks, name in data.credits
                li
                  strong.name= name
                  span= tasks

    ul.links
      - var links = [];
      - links.push('<li><a href="' + data.url + '" target="_blank">Visit the Site</a></li>');
      - links.push('<li><a href="#" target="_blank"><div class="hidden-xs">See more on Behance</div><div class="visible-xs-inline-block">More on Behance</div></a></li>');
      != links.join('')

