mixin project-li(data)
  - var slide = data.name.toLowerCase().replace(/[^a-z]/g, '-');
  li: a(href='/#/projects/#{slide}' data-slide-to="index-projects:slides projects:#{slide}" data-scroll='#projects')= data.name


mixin project(data, active)
  - var slide = data.name.toLowerCase().replace(/[^a-z]/g, '-');
  .project.slider-item(data-slide=slide class=(active ? 'active' : '') style=(!active ? 'display: none;' : ''))
    .row.section-body
      .col-sm-5.col-lg-12.hidden-xs.hidden-lg
        .project-image-wrapper
          img.project-image(alt=data.name src='/assets/images/mobile-#{slide}.png')

      .col-xs-12.col-sm-7.col-lg-12
        .visible-xs
          img.project-image(alt=data.name src='/assets/images/mobile-#{slide}.png')
        .visible-lg
          img.project-image(alt=data.name src='/assets/images/desktop-#{slide}.png')

        .row.m2t.sm-m0.lg-m3t.lg-m8b
          .col-xs-12.col-lg-6
            .openable
              hr.visible-xs
              .row.p2.sm-p0
                .col-xs-7.col-sm-12
                  h1.section-headline= data.name
                .col-xs-5.visible-xs.togglers
                  a.icon-link.plus.ttr.when-closed(href='#'): span.icon.icon-plus
                  a.icon-link.minus.ttr.when-opened(href='#'): span.icon.icon-minus
              hr.sm-m1t.sm-m2b.lg-m3t.lg-m4b.when-opened
              .when-opened.p2.sm-p0
                != marked(data.description)

          .col-xs-12.col-lg-6.sm-m4.lg-m0
            .openable
              hr.visible-xs
              .row.p2.sm-p0
                .col-xs-7.col-sm-12
                  h1.section-headline Credits
                .col-xs-5.visible-xs.togglers
                  a.icon-link.plus.ttr.when-closed(href='#'): span.icon.icon-plus
                  a.icon-link.minus.ttr.when-opened(href='#'): span.icon.icon-minus
              hr.sm-m1t.sm-m2b.lg-m3t.lg-m4b.when-opened
              .when-opened.p2.sm-p0
                ul.credits
                  for tasks, name in data.credits
                    li
                      strong.name= name
                      span= tasks

    ul.links
      - var links = [];
      - links.push('<li><a href="' + data.url + '" target="_blank">Visit the Site</a></li>');
      - if (data.behance)
        - links.push('<li><a href="' + data.behance + '" target="_blank"><div class="hidden-xs">See more on Behance</div><div class="visible-xs-inline-block">More on Behance</div></a></li>');
      - else
        - links.push('<li><span class="link-placeholder"><div class="hidden-xs">See more on Behance</div><div class="visible-xs-inline-block">More on Behance</div></span></li>');
      != links.join('')

